---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import SiteFooter from '../components/SiteFooter.astro';
import SiteHeader from '../components/SiteHeader.astro';

import repos from "../repos.json";
const projectRepos = repos.filter(r => r.name !== "qw-tools.github.io");
projectRepos.sort((a,b) => a.name.localeCompare(b.name));
const projectIcons = {
    servers: "info",
    "recent-demos": "play_circle_filled",
    "hud-numbers": "pin",
    "model-textures": "category",
    "charset": "font_download",
    "resources": "format_list_bulleted",
    "simple-items": "category",
};

---

<Layout title="QuakeWorld Tools">
    <SiteHeader />

    <div class="bg-gray-100 border-b border-gray-300 flex flex-col">
        <h1 class="container mt-6 mb-4 font-bold text-3xl">QuakeWorld Tools</h1>

        <div class="container fadeIn mb-8">
            <div class="grid grid-cols-1 gap-6 md:grid-cols-2 xl:grid-cols-3">
                {
                projectRepos.map((r) => (
                <Card title={r.name} body={r.description} href={r.homepage} icon={projectIcons[r.name]} />
                ))
                }
            </div>
        </div>
    </div>

    <SiteFooter />
</Layout>
