---
export interface Props {
title: string;
body: string;
href: string;
}

const { href, title, body } = Astro.props;
---

<a href={href} class="block px-6 py-5 md:rounded-md bg-white border border-gray-300 shadow hover:bg-sky-50">
    <h2 class="text-lg font-bold mb-1">{title} <span>&rarr;</span></h2>
    <div class="text-gray-700">{body}</div>
</a>
